POSTGRES_DB=sap_source
POSTGRES_USER=lab_user
POSTGRES_PASSWORD=lab_password
POSTGRES_PORT=5432

AWS_DEFAULT_REGION=eu-west-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
FLOCI_ENDPOINT_URL=http://localhost:4566
FLOCI_EDGE_PORT=4566
FLOCI_DEBUG=0

LANDING_BUCKET=sap-glue-local-lab-landing
BATCH_STATE_TABLE=sap-glue-local-lab-batch-state
DUCKDB_PATH=./data/warehouse/local_lab.duckdb
