.env
.idea/
.venv/
extractor-simulator/.venv/
orchestrator/.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.DS_Store
__MACOSX/
logs/

data/*
!data/.gitkeep

*.duckdb
*.duckdb.wal
